@import "tailwindcss";

* {
  cursor: none !important;
}

:root {
  --background: #e0e2d9;
  --foreground: #1e1e1e;
  --loadingbar: #98975f;
  --mouse: #98975f;
}

@theme inline {
  --color-loadingbar: var(--loadingbar);
  --color-mouse: var(--mouse);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-satoshi: var(--font-satoshi);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-clash-display);
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background: var(--background);
  overflow-y: scroll;
  color: var(--foreground);
  font-family:
    var(--font-satoshi), var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    var(--font-clash-display), var(--font-satoshi), var(--font-geist-sans),
    sans-serif;
}
