@import "tailwindcss";

:root {
  --background: #e0e2d9;
  --foreground: #1e1e1e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-satoshi: var(--font-satoshi);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-clash-display);
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-satoshi), var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    var(--font-clash-display), var(--font-satoshi), var(--font-geist-sans),
    sans-serif;
}
